/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Variables */
:root {
    --main-yellow: #FACC15;
    --yellow-hover: #EAB308;
    --dark-1: #0F172A;
    --dark-2: #1E293B;
    --card-gray: #2C2C2C;
    --white: #FFFFFF;
}

/* Navbar */
.navbar {
    background: var(--card-gray);
}

/* Header */
.header {
    height: 100vh;
    padding-top: 80px;
    background-image: url("./assets/images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: flex !important;
    align-items: center;
    min-height: calc(100vh - 80px);
}

.header .text {
    margin-left: 60px;
    max-width: 550px;
    color: var(--white);
}

.carousel-indicators {
    justify-content: flex-start;
    margin-left: 60px;
    bottom: 10%;
}

.carousel-indicators .active {
    background-color: var(--main-yellow);
    opacity: 1;
}

.carousel-item .text {
    opacity: 0;
    transform: translateX(80px);
    transition: all 0.6s ease;
}

.carousel-item.active .text {
    opacity: 1;
    transform: translateX(0);
}

/* Button */
.btn-main {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 20px;
    background-color: var(--main-yellow);
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-main:hover {
    background-color: var(--yellow-hover);
    color: #000;
    text-decoration: none;
    transform: scale(1.05);
}

.offers {
    display: flex;
    gap: 20px;
    padding: 5%;
}

.offers .offers-container {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--dark-1);
    overflow: hidden;
    transition: 0.3s;
}

.offers .offers-container:hover {
    transform: translateY(-5px);
}

.offers .offers-container img {
    width: 25%;
    max-width: 120px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid var(--main-yellow);
}

.text-offer {
    color: white;
}

.text-offer h2 {
    color: var(--main-yellow);
    font-size: 28px;
}

/* Menu */
.menu-section {
    padding: 50px 10%;
    background-color: #fcfcfc;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #080808;
}


.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 30px;
    justify-items: center;
}


.custom-card {
    width: 100%;
    max-width: 350px;
    background-color: #222831; 
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.custom-card:hover {
    transform: translateY(-10px);
}


.card-header {
    background-color: #dbdcde; 
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 60px !important; 
   
}

.card-header img {
    width: 160px;
    height: 160px;
    object-fit: contain;
    filter: drop-shadow(0 15px 15px rgba(0,0,0,0.2)); 
}

.card-body {
    padding: 25px;
    text-align: left;
    color: white;
}

.card-body h3 {
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.card-body p {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #eeeeee;
    margin-bottom: 20px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 1.1rem;
    font-weight: 600;
}

.add-to-cart {
    background-color: #ffbe33; 
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.add-to-cart:hover {
    background-color: #e69c00;
    transform: scale(1.1);
}

/* Tablet */
@media (max-width: 991px) {

    .navbar-nav {
        background-color: var(--dark-2);
        padding: 20px;
        border-radius: 10px;
        margin-top: 10px;
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin: 10px 0;
    }

    .header .text {
        margin-left: 20px;
        padding-right: 20px;
    }

    .offers {
        flex-direction: column;
    }
}

/* Mobile */
@media (max-width: 576px) {

    .header .text {
        margin-left: 15px;
        text-align: center;
    }

    .header .text h1 {
        font-size: 2.5rem;
    }

    .header .text p {
        font-size: 0.9rem;
    }

    .carousel-indicators {
        margin-left: 0;
        justify-content: center;
    }

    .carousel-item.active {
        justify-content: center !important;
    }

    /* Offers Mobile */
    .offers {
        padding: 20px;
    }

    .offers .offers-container {
        flex-direction: column;
        text-align: center;
    }

    .offers .offers-container img {
        width: 80px;
        max-width: 80px;
    }

    .text-offer h3 {
        font-size: 18px;
    }

    .text-offer h2 {
        font-size: 24px;
    }
}