* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Variables */
:root {
    --main-yellow: #FACC15;
    --yellow-hover: #EAB308;
    --dark-1: #1f2325;
    --dark-2: #1E293B;
    --card-gray: #2C2C2C;
    --white: #FFFFFF;
}

/* Navbar */
.navbar {
    background-color: var(--dark-1) !important;
}

.navbar-nav .nav-item .nav-link.active {
    color: var(--main-yellow) !important;
    font-weight: bold;
}

.nav-link {
    transition: color 0.3s ease;
}

/* Header */
.header {
    height: 100vh;
    padding-top: 80px;
    background-image: url("./assets/images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: flex !important;
    align-items: center;
    min-height: calc(100vh - 80px);
}

.header .text {
    margin-left: 60px;
    max-width: 550px;
    color: var(--white);
}

.carousel-indicators {
    justify-content: flex-start;
    margin-left: 60px;
    bottom: 10%;
}

.carousel-indicators .active {
    background-color: var(--main-yellow);
    opacity: 1;
}

.carousel-item .text {
    opacity: 0;
    transform: translateX(80px);
    transition: all 0.6s ease;
}

.carousel-item.active .text {
    opacity: 1;
    transform: translateX(0);
}

/* Button */
.btn-main {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 20px;
    background-color: var(--main-yellow);
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-main:hover {
    background-color: var(--yellow-hover);
    color: #000;
    text-decoration: none;
    transform: scale(1.05);
}

.offers {
    display: flex;
    gap: 20px;
    padding: 5%;
}

.offers .offers-container {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--dark-1);
    overflow: hidden;
    transition: 0.3s;
}

.offers .offers-container:hover {
    transform: translateY(-5px);
}

.offers .offers-container img {
    width: 25%;
    max-width: 120px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid var(--main-yellow);
}

.text-offer {
    color: white;
}

.text-offer h2 {
    color: var(--main-yellow);
    font-size: 28px;
}

/* Menu */
.menu-section {
    padding: 50px 10%;
    background-color: #fcfcfc;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #080808;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
}

.custom-card {
    width: 100%;
    max-width: 350px;
    background-color: var(--dark-1);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.custom-card:hover {
    transform: translateY(-10px);
}

.card-header {
    background-color: #dbdcde;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 60px !important;
}

.card-header img {
    width: 160px;
    height: 160px;
    object-fit: contain;
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.2));
}

.card-body {
    padding: 25px;
    text-align: left;
    color: white;
}

.card-body h3 {
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.card-body p {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #eeeeee;
    margin-bottom: 20px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 1.1rem;
    font-weight: 600;
}

.add-to-cart {
    background-color: #ffbe33;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.add-to-cart:hover {
    background-color: #e69c00;
    transform: scale(1.1);
}

/* About */
.about {
    width: 100%;
    padding: 40px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark-1);
    gap: 30px;
    flex-wrap: wrap;
}

.about .about-text h2 {
    text-align: center;
    margin-bottom: 15px;
}

.about img {
    width: 400px;
    max-width: 100%;
    height: auto;
}

.about .about-text {
    color: white;
    max-width: 400px;
    text-align: center;
}

.about .about-text .btn-main {
    color: white;
}

/* Book-table */
.book-table {
    padding: 60px 10%;
    background-color: #f5f5f5;
}

.book-table h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.book-container {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form input,
.form select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.book-table .btn-main {
    color: white;
    max-width: fit-content;
}

.map {
    flex: 1;
}

.map iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 10px;
}

/* customer-reviews */
.customer-reviews {
    padding: 60px 10%;
    text-align: center;
    background-color: #f9f9f9;
}

.customer-containers {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.customer-reviews h2 {
    margin-bottom: 50px;
}
.customer-reviews-container {
    background-color: var(--dark-1);
    color: white;
    padding: 25px;
    border-radius: 15px;
    max-width: 400px;
    text-align: center;
    transition: 0.3s;
}

.customer-reviews-container:hover {
    transform: translateY(-10px);
}

.customer-reviews-container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 15px 0;
    border: 4px solid var(--main-yellow);
}

.customer-reviews-container h3 {
text-align: center;
}

.customer-reviews-container h5 {
    text-align: center;
    font-size: 0.9rem;
    color: #ccc;
}
/* Footer */
.footer {
    background-color: var(--dark-1);
    color: white;
    padding: 60px 0 20px;
}

.footer h4 {
    margin-bottom: 20px;
}

.footer p {
    margin: 5px 0;
    color: #ccc;
}

.footer i {
    margin-right: 8px;
}

.social-icons i {
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons i:hover {
    color: var(--main-yellow);
    transform: scale(1.2);
}

.footer hr {
    border-color: #444;
    margin: 30px 0;
}

@media (max-width: 991px) {
    .navbar-nav {
        background-color: var(--dark-1);
        padding: 20px;
        border-radius: 10px;
        margin-top: 15px;
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin: 10px 0;
    }

    .header .text {
        margin-left: 20px;
        max-width: 90%;
    }

    .offers {
        flex-direction: column;
        padding: 40px 5%;
    }

    .about {
        flex-direction: column;
        text-align: center;
        padding: 60px 5%;
    }

    .about img {
        width: 100%;
        max-width: 350px;
        margin-bottom: 30px;
    }

    .about .about-text {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .menu-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .book-container {
        flex-direction: column;
    }

    .map {
        width: 100%;
        margin-top: 30px;
    }
}

@media (max-width: 576px) {
    .header .text {
        margin-left: 0;
        text-align: center;
        padding: 0 15px;
    }

    .header .text h1 {
        font-size: 2.2rem;
    }

    .carousel-indicators {
        margin-left: 0;
        justify-content: center;
    }

    .offers .offers-container {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .offers .offers-container img {
        width: 100px;
        margin-bottom: 15px;
    }

    .section-title {
        font-size: 2rem;
    }

    .custom-card {
        max-width: 100%;
    }
}